/* styles.css */
.custom-title {
    font-size: 24px;
    font-weight: bold;
    /* Add any other styles you want to customize */
  }

  /* styles.css */
.custom-carousel-button .slick-fade {
  transition: opacity 3s ease; /* Adjust the duration (1s in this example) for the fade effect */
}

.custom-card-title {
  font-size: 28px; /* Set the desired font size */
  font-weight: bold; /* Set the desired font weight */
  text-align: center; /* Set the desired text alignment */
}

/* styles.css */
.marquee-text {
  width: 100%; /* Set the width of the marquee */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow content */
  animation: marquee 10s linear infinite; /* Animation duration and timing */
  font-size: '15px';
}

@keyframes marquee {
  from {
    transform: translateX(100%); /* Start from the right */
  }
  to {
    transform: translateX(-100%); /* Move to the left */
  }
}
